// Variables
$footer-link-color: #9e9e9e;

// デフォルトの装飾を上書く
body {
	font-family: "Helvetica Neue", Helvetica, Arial, Meiryo, "メイリオ", sans-serif;
}
h1 {
	border-bottom: 1px solid #eee;
}
p.footnote {
	font-size: 0.8em;
}

// 画像やリストなどのキャプション系
.caption {
	text-align: center;
}
.caption-code, .table {
	.caption {
		margin-bottom: 0;
	}
}

// 画像は中央余生にしとく
.image {
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;;
		margin-right: auto;
	}
}

// メニューまわり
.tb-nav-link {
	margin-top: 1em;
	margin-bottom: 1em;
	a.prev:before {
		content: "<<";
	}
	a.next:after {
		content: ">>";
	}
}

// フッタ
.tb-footer {
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
	background-color: #424242;
	a {
		color: $footer-link-color;
	}
	p {
		margin-right: 10px;
	}
}
.tb-footer-links {
	li:nth-child(n+2)::before {
		color: $footer-link-color;
		content: "/";
		margin-right: 16px;
	}
}
